<footer class="section-footer">
  <div class="content"> 
    <div class="container">

    </div>
  </div>
    <div class="row">
      <div class="col-sm">
        <h2>Лечение</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Кардиология</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ревматология</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Пульмонология</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Функциональная диагностика</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Терапия</a>
            </li>
        </ul>
      </div>

      <div class="col-sm">

        <h2>Пациенту</h2>

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/cardio">Прием кардиолога</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rheumatologist">Прием ревмотолога</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pulmonologist">Прием пульмонолога</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/therapist">Прием терапевта</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/how-is-the-admission">Как проходит прием</a>
            </li>
        </ul>
      </div>

      <div class="col-sm">

        <h2>Клиника</h2>

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/about">О клинике</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/doctor">Врачи</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Контакты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/privacy">Политика конфиденциальности</a>
            </li>
        </ul>
      </div>

    <div class="col-sm">

        <p class="info-text-footer">
          ООО «НОРМА» <br>
          ИНН/КПП 7839096987/783901001 <br>
          Ф-л "Северо-Западный" ПАО Банк "ФК Открытие"
          БИК 044030795 <br>
          р/с 40702810195200100306 <br>
          к/с 30101810540300000795 <br>
          тел 8 (800) 600 61 56 <br>
        </p>
    </div>
 <table width=125 border=0 cellspacing=0 cellpadding=0 title="CLICK TO VERIFY: This site uses a GlobalSign SSL Certificate to secure your personal information." ><tr><td><span id="ss_img_wrapper_gmogs_image_125-50_en_dblue"><a href="https://www.globalsign.com/" target="_blank" title="GlobalSign Site Seal" rel="nofollow"><img alt="SSL" border=0 id="ss_img" src="//seal.globalsign.com/SiteSeal/images/gs_noscript_125-50_en.gif"></a></span><script type="text/javascript" src="//seal.globalsign.com/SiteSeal/gmogs_image_125-50_en_dblue.js"></script></td></tr></table>
    </div>
    
</footer>
