

<section class="section-about">
	<div class="content">
		<div class="container">
		<h3 class="header-about">Добро пожаловать в Медицинский центр Нормокард</h3>

		<div class="row">
			<div class="col-sm">
				<p class="text-about-welcome">
					<em>	Уважаемые пациенты!
Мы рады открыть для вас двери нашего медицинского центра Нормокард. В клинике прием осуществляют доктора и кандидаты медицинских наук в области кардиологии, ревматологии, пульмонологии, терапии и функциональной диагностики. В стенах нашего центра вы можете быть уверены, что вы – в надежных руках!”
			</em></p>
			</div>

			<div class="col-sm">
                <img src="glav-vrach.jpg" alt="главный врач" class="img-thumbnail">

			</div>
		</div>

		<div class="row">

			<div class="col-sm">
				<p class="text-about">
					<span class="header">Медицинский центр Нормокард  </span>  — кардиологическая клиника, направленная на диагностику нарушений сердечного ритма и проводимости.
					Наши врачи давно и успешно работают с пациентами, у которых болезни разной специфики и сложности.
					Секрет наших медицинских работников в профессионализме, человеческом сострадании, внимательности и желании помочь. Доктора не будут отчитывать пациента, а дадут совет и поддержат. Потому что соответствующее лечение начинается с хорошего отношения и грамотной консультации.
					</p>

					<h3 class="header-about">Виды приёмов в Медицинском центре Нормокард</h3>
					<p class="text-about">
					<span class="header">Очный приём</span> — это личная встреча с врачом по записи. Этот этап необходим, если диагноз пока не поставлен. В клинике чистые кабинеты, новое оборудование и просторный холл, поэтому пациент не почувствует дискомфорта.
					</p>

					<p class="text-about">
						<span class="header">Онлайн консультация</span>  — это дистанционная консультация, на которую клиент подключается онлайн. Это подходит тем, у кого нет подходящий условий, чтобы приехать. И хотя врач не может сразу на телеконсультации поставить диагноз, он соберёт анамнез у первичного пациента и скорректирует терапию, если клиент до этого уже посещал доктора.
					</p>

					<p class="text-about">
						Для удобства персонал клиники Normocard разработал и создал собственные модели медицинского оборудования. Узнать больше о них можно здесь: <a href="https://normocard.ru">https://normocard.ru .</a>
						Доверяйте только проверенным организациям. Клиника Normocard проходит государственные проверки, поэтому нормативные документы в открытом доступе.
					</p>
			</div>
		</div>
		</div>
	</div>
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}