{{>preloader}}
<section class="section">
    <div class="container">
        <div class="row">
            
            <div class="col-sm position-button">

            <h2 class="head-about-doctor">Байракова Юлия Вячеславовна <br>
            ревматолог, кардиолог, кандидат медицинских наук.</h2>

            <h2 class="head-about-doctor">
                Врачебный стаж – 22 года
            </h2>

            <h2 class="head-about-doctor">Сведение о ВУЗе</h2>
            <p class="text-about-doctor">
                В 1998 году окончила ГОУ ВПО «Кемеровская государственную медицинскую академию»  по специальности «лечебное дело».<br>
                1999 год – интернатура по специальности «терапия».

            </p>

            <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
            <p class="text-about-doctor">
                2000 год – профессиональная переподготовка по кардиологии ГОУ ВПО «Кемеровская государственная медицинская академия».<br>
                2008 год – повышение квалификации по кардиологии ГОУ ВПО «Кемеровская государственная медицинская академия». <br>
                2012 год -  повышение квалификации по кардиологии ГОУ ВПО «Кемеровская государственная медицинская академия». <br>
                2017 год – повышение квалификации по кардиологии ФГБОУ ВО «СЗГМУ им. И.И. Мечникова», Санкт- Петербург. <br>
                2009 год - профессиональная переподготовка по ревматологии ГОУ ВПО «Кемеровская государственная медицинская академия». <br>
                2013 год – повышение квалификации по ревматологии. ФГБУ «НИИР им. В.А. Носоновой» РАМН,  Москва. <br>
                2018 год – повышение квалификации по ревматологии ФГБОУ ВО «СЗГМУ им. И.И. Мечникова», Санкт- Петербург.<br>
                2021 год – повышение квалификации «Актуальные вопросы лечения имунновоспалительных заболеваний генноинженерными препаратами и ингибиторами янус-киназ». ФГБОУ ВО «СЗГМУ им. И.И. Мечникова», Санкт- Петербург. <br>

            </p>


                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Благодарности
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                        <div class="card card-body">
                            <p>Руководителя Департамента  здравоохранения Москвы за добросовестный труд в системе московского городского здравоохранения (2016 год).</p>
                        </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                        Область интересов
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample5">
                        <div class="card card-body">
                            <p>Сложные, коморбидные пациенты кардиологического, ревматологического профиля.</p>
                            <p>Ревматоидный артрит, реактивные артриты, подагрический артрит, серонегативные спондилоартриты, в том числе – псориатический артрит.</p>
                            <p>Системные заболевания соединительной ткани: системная красная волчанка, системная склеродермия, полимиозиты и др.</p>
                            <p>Системные васкулиты.</p>
                            <p>Остеоартрит.</p>
                            <p>Системный остеопороз.</p>
                        </div>
                    </div>

                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                        Достижения
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample6">
                        <div class="card card-body">
                            <p>2009 год – защита кандидатской диссертации на тему: «Показатели проаритмического статуса у больных гипертонической болезнью и ИБС, ассоциированных с сахарным диабетом типа 2».</p>
                            <p>2009 год – защита кандидатской диссертации на тему: «Показатели проаритмического статуса у больных гипертонической болезнью и ИБС, ассоциированных с сахарным диабетом типа 2».</p>
                            <p>Имеет многолетний опыт работы врачом-исследователем многоцентровых международных клинических исследований.</p>
                            <p>Имеет 60 научных работ, из 24 статьи, в журналах аккредитованных ВАК, 2 статьи в зарубежных журналах.</p>
                            <p>Имеет многолетний опыт работы врачом-исследователем многоцентровых международных клинических исследований.</p>
                        </div>
                    </div>
            </div>

            <div class="col-sm">
                <img src="julbairakova.jpg" alt="главный врач" class="img-thumbnail">

                <button type="submit" class="reviews-button">Записаться ко врачу</button>
            </div>

        </div>
    </div>
</section>


{{!-- <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>Отзывы</h3>
                    <p class="reviews">Никто ещё не оставлял отзывов об этом враче.</p>
                </div>

                <div class="col-sm">
					<button type="submit" class="reviews-button">Оставить отзыв</button>
                </div>

            </div>
        </div>
</section> --}}

{{>footer}}