
<section class="section">
    <div class="content">
        <div class="container">
            <div class="row">
                
                <div class="col-sm position-button">

                    <h2 class="head-about-doctor">Байракова Юлия Вячеславовна <br>
                    </h2>

                    <h2 class="text-about-doctor">Кандидат медицинских наук, ревматолог, кардиолог.</h2>


                    <h2 class="text-about-doctor">
                        Врачебный стаж – 22 года
                    </h2>

                    <h2 class="head-about-doctor">Область интересов</h2>
                    <p class="text-about-doctor">
                        <p>Сложные, коморбидные пациенты кардиологического, ревматологического профиля.</p>
                        <p>Ревматоидный артрит, реактивные артриты, подагрический артрит, серонегативные спондилоартриты, в том числе – псориатический артрит.</p>
                        <p>Системные заболевания соединительной ткани: системная красная волчанка, системная склеродермия, полимиозиты и др.</p>
                        <p>Системные васкулиты.</p>
                        <p>Остеоартрит.</p>
                        <p>Системный остеопороз.</p>
                    </p>



                    <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
                    <p class="text-about-doctor">
                        В 1998 году окончила ГОУ ВПО «Кемеровская государственную медицинскую академию»  по специальности «лечебное дело».<br>
                        1999 год – интернатура по специальности «терапия».
                        2000 год – профессиональная переподготовка по кардиологии ГОУ ВПО «Кемеровская государственная медицинская академия».<br>
                        2008 год – повышение квалификации по кардиологии ГОУ ВПО «Кемеровская государственная медицинская академия». <br>
                        2012 год -  повышение квалификации по кардиологии ГОУ ВПО «Кемеровская государственная медицинская академия». <br>
                        2017 год – повышение квалификации по кардиологии ФГБОУ ВО «СЗГМУ им. И.И. Мечникова», Санкт- Петербург. <br>
                        2009 год - профессиональная переподготовка по ревматологии ГОУ ВПО «Кемеровская государственная медицинская академия». <br>
                        2013 год – повышение квалификации по ревматологии. ФГБУ «НИИР им. В.А. Носоновой» РАМН,  Москва. <br>
                        2018 год – повышение квалификации по ревматологии ФГБОУ ВО «СЗГМУ им. И.И. Мечникова», Санкт- Петербург.<br>
                        2021 год – повышение квалификации «Актуальные вопросы лечения имунновоспалительных заболеваний генноинженерными препаратами и ингибиторами янус-киназ». ФГБОУ ВО «СЗГМУ им. И.И. Мечникова», Санкт- Петербург. <br>

                    </p>


                        <p>
                        <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                            Дополнительно
                        </button>
                        </p>
                        <div class="collapse" id="collapseExample6">
                            <div class="card card-body">
                                <h2 class="head-about-doctor">Достижения</h2>
                                <p>2009 год – защита кандидатской диссертации на тему: «Показатели проаритмического статуса у больных гипертонической болезнью и ИБС, ассоциированных с сахарным диабетом типа 2».</p>
                                <p>Имеет многолетний опыт работы врачом-исследователем многоцентровых международных клинических исследований.</p>
                                <p>Имеет 60 научных работ, из 24 статьи, в журналах аккредитованных ВАК, 2 статьи в зарубежных журналах.</p>

                                <h2 class="head-about-doctor">Благодарности</h2>
                                <p>Руководителя Департамента  здравоохранения Москвы за добросовестный труд в системе московского городского здравоохранения (2016 год).</p>

                            </div>
                        </div>
                </div>

                <div class="col-sm">
                    <img src="julbairakova.jpg" alt="главный врач" class="img-thumbnail">

                    <button type="submit" class="reviews-button"><a href="/zapis-na-priem">Запись на прием</a></button>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

{{>footer}}