
<section class="section-slider">
<div class="content">
			<div class="container-fluid">
					<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active"  data-bs-interval="1000">
								<a href="/zapis-na-priem"><img class="d-block w-100" src="AI баннер 1900-870-01.jpg" alt="First slide"></a>
									{{!-- <button type="submit" class="button">Записаться на приём</button> --}}
								</div>
								<div class="carousel-item" data-bs-interval="1000">
									<a href="/zapis-na-priem"><img class="d-block w-100" src="AI баннер 1900-870-02.jpg" alt="Second slide"></a>
								</div>
								<div class="carousel-item" data-bs-interval="1000">
									<a href="/zapis-na-priem"><img class="d-block w-100" src="AI баннер 1900-870-03.jpg" alt="Third slide"></a>
								</div>
								<div class="carousel-item" data-bs-interval="1000">
									<a href="/zapis-na-priem"><img class="d-block w-100" src="AI баннер 1900-870-04.jpg" alt="Four slide"></a>
								</div>
							</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only"></span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
</section>

<section class="section-doctor">
	<div class="content">
		<div class="container">
			
			<a name="doctor"></a>
			<h2 class="title-doctor mb-4">Врачи</h2>
				<div class="row">

					<p class="text-doctor-home">Познакомьтесь с нашими врачами заранее, чтобы выбрать своего специалиста</p>
					<h2 class="text-doctor-home">Узнайте о деятельности и уровне профессионализма наших специалистов</h2>

					<div class="col-sm card-bottom">
						<div class="center">
							<div class="property-card">
								<a href="/solobueva-anna-andreeva">
								<div class="property-image-glav-vrach">
									<div class="property-image-title">
									</div>
								</div></a>
								<div class="property-description-glav-vrach">
								<h5>Солобуева Анна Андреевна</h5>
								<p>Главный врач Медицинского центра</p>
								</div>
								<a href="#">
								<div class="property-social-icons">
									<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
								</div>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm card-bottom">
						<div class="center">
							<div class="property-card">
								<a href="/bairacova-julia">
								<div class="property-image-julia-bairacova">
									<img src="/julbairakova.png" alt="">
									<div class="property-image-title">
									<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
									</div>
								</div></a>
								<div class="property-description-julia-bairacova">
								<h5>Байракова Юлия Вячеславовна</h5>
								<p>к. м. н., <br> ревматолог, кардиолог</p>
								</div>
								<a href="#">
								<div class="property-social-icons">
									<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
								</div>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm card-bottom">
						<div class="center">
							<div class="property-card">
								<a href="/lebedeva-natalya-borisovna">
								<div class="property-image-lnb">
									<div class="property-image-title">
									<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
									</div>
								</div></a>
								<div class="property-description-lnb">
								<h5>Лебедева Наталия Борисовна</h5>
								<p>д.м.н, доцент, <br> врач - кардиолог</p>
								</div>
								<a href="#">
								<div class="property-social-icons">
									<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
								</div>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm card-bottom">
						<div class="center">
							<div class="property-card">
								<a href="/zvereva-tatiana-nicolaevna">
								<div class="property-image-ztn">
									<div class="property-image-title">
									<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
									</div>
								</div></a>
								<div class="property-description-ztn">
								<h5>Зверева Татьяна Николаевна</h5>
								<p>к.м.н., доцент, <br> врач - кардиолог</p>
								</div>
								<a href="#">
								<div class="property-social-icons">
									<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
								</div>
								</a>
							</div>
						</div>
					</div>



					<div class="col-sm card-bottom">
						<div class="center">
							<div class="property-card">
								<a href="/smakotina-svetlana-anatolevna">
								<div class="property-image-ssa">
									<div class="property-image-title">
									<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
									</div>
								</div></a>
								<div class="property-description-ssa">
								<h5>Cмакотина Светлана Анатольевна</h5>
								<p>д. м. н., профессор, кардиолог, ревматолог, терапевт</p>
								</div>
								<a href="#">
								<div class="property-social-icons">
									<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
								</div>
								</a>
							</div>
						</div>
					</div>

				</a>

					<div class="col-sm card-bottom">
						<div class="center">
							<div class="property-card">
								<a href="/pomeshnikova-svetlana-aleksandrovna">
								<div class="property-image-psa">
									<div class="property-image-title">
									<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
									</div>
								</div></a>
								<div class="property-description-psa">
								<h5>Помешкина Светлана Александровна</h5>
								<p>д.м.н., <br> врач - кардиолог</p>
								</div>
								<a href="#">
								<div class="property-social-icons">
									<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
								</div>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm card-bottom">
						<div class="center">
							<div class="property-card">
								<a href="/sitnikov-dmitriy-vladimirovich">
								<div class="property-image-sdv">
									<div class="property-image-title">
									<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
									</div>
								</div></a>
								<div class="property-description-sdv">
								<h5>Ситников Дмитрий Владимирович</h5>
								<p>пульмонолог, кардиолог, терапевт</p>
								</div>
								<a href="#">
								<div class="property-social-icons">
									<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
								</div>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm card-bottom">
						<div class="center">
							<div class="property-card">
								<a href="/shoforus-tatyana-vladimirovna">
								<div class="property-image-htv">
									<div class="property-image-title">
									<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
									</div>
								</div></a>
								<div class="property-description-htv">
								<h5>Шофорусь Татьяна Владимировна</h5>
								<p>кардиолог, ревматолог</p>
								</div>
								<a href="#">
								<div class="property-social-icons">
									<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
								</div>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm card-bottom">
						<div class="center">
							<div class="property-card">
								<a href="/kazachenko-aleksandr-aleksandrovich">
								<div class="property-image-kaa">
									<div class="property-image-title">
									<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
									</div>
								</div></a>s
								<div class="property-description-kaa">
								<h5>Казаченко Александр Александрович</h5>
								<p>к.м.н., <br> врач - кардиолог</p>
								</div>
								<a href="#">
								<div class="property-social-icons">
									<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
								</div>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm card-bottom">
						<div class="center">
							<div class="property-card">
								<a href="/ionin-valeriy-aleksandrovich">
								<div class="property-image-iva">
									<div class="property-image-title">
									<!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
									</div>
								</div></a>s
								<div class="property-description-iva">
								<h5>Ионин Валерий Александрович</h5>
								<p>к.м.н., <br> врач - кардиолог</p>
								</div>
								<a href="#">
								<div class="property-social-icons">
									<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
								</div>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>


<section class="section-recording">

	<h2>Запись к врачу</h2>

	<div id="rnova-a_form"></div>

</section>

<section class="section-services">
	<h2>Услуги</h2>
	<a name="services"></a>
	<div class="rnova-price_list"></div>
	
</section>


<section class="section-contact">
	<div class="content">
		<div class="container">
				<a name="contact"><h2 class="title-doctor">Контакты</h2></a>
				<p class="contact-text">Хотите у нас что-то уточнить? </p>
				<p class="contact-text"> С удовольствием вам ответим, но только в рабочее время: </p>
				<div class="row">
					<div class="col-sm mt-5">
						<h3 class="text-header mt-5">Позвоните нам</h3>
						<p class="text-contact">Телефон:<a href="tel:73842900935"> 8 (384) 290-09-35</a></p>
						<h3 class="text-header mt-5">Напишите нам</h3>
						<p class="text-contact">E-mail:<a href="mailto:clinic@normocard.com"> clinic@normocard.com</a></p>
						<h3 class="text-header mt-5">Посетите нас</h3>
						<p class="text-contact">Адрес: г.Кемерово, ул. Гагарина, 49</p>
						<p class="time-work">Часы работы : Пн-Сб, с 8:00 до 20:00</p>
					</div>

					<div class="col-sm">
						<div class="map-home">
							<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9ac4d11d40375373f5884cb62b51f38a2f19dee48333b7963ed352351f61fe1a&amp;source=constructor" width="562" height="415" frameborder="0"></iframe>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}
