<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-sm position-button">
            <h2 class="head-about-doctor">Хомякова Татьяна Александровна <br> </h2>
            <h2 class="text-about-doctor">Кандидат медицинских наук<br> Врач - отделения функциональной диагностики <br> Первую квалификационную категорию </h2>

            <h2 class="text-about-doctor">
                стаж 12 лет
            </h2>


            <h2 class="head-about-doctor">Область научных интересов</h2>
            <p class="text-about-doctor">
                Суточное мониторирование ЭКГ у пациентов со сложными нарушениями ритма сердца.<br>
                <br>
                Многосуточное мониторирование ЭКГ у пациентов с редкими эпизодами нарушений ритма, в том числе диагностика фибрилляции предсердий<br>
                <br>
                ЧПЭКГ -как методика диагностики СССУ и дополнительных путей проведения при подозрении на WPW -синдром.<br>

            </p>


            <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
            <p class="text-about-doctor">
               В 2008 году окончила ГОУВПО «Кемеровская государственную медицинскую академию»  по специальности «лечебное дело».<br>
               <br>
               2008-2010 год – ординатура по специальности кардиология, ГОУВПО «Кемеровская государственная медицинская академия». <br>
               <br>
                2011 год – профессиональная переподготовка на функциональной диагностике, ГОУВПО «Кемеровская государственная медицинская академия».<br>
                <br>
                2020 год – повышение квалификации по функциональной диагностике. ФГБОУ ВО КемГМУ.

            </p>


                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Дополнительно
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>Навыки<br>
                        - ЭКГ <br>
                        - Суточное/многосуточное мониторирование ЭКГ <br>
                        - Суточное мониторирование АД <br>
                        - ФВД <br>
                        - Велоэргометрия <br>
                        - ЧПЭС <br>

                        <p>Достижения</p>
                        2017 года – защита кандидатской диссертации: «Прогностическая роль окислительно-модифицированных липопротеидов и полиморфизма генов липидного метаболизма у больных острым коронарным синдромом без подъема сегмента ST». <br>
                        <br>
                        Имеет 5 научных статей, из них 4 в журналах, аккредитованных ВАК, выступления на региональных конференциях.

                    </div>
                    </div>

            </div>

            <div class="col-sm">
                <img src="hta.jpg" alt="главный врач" class="img-thumbnail">

                {{!-- <button type="submit" class="reviews-button"><a href="/zapis-na-priem">Запись на прием</a></button> --}}
            </div>

        </div>
    </div>
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}