{{>preloader}}
<section class="section-text">
    <div class="content">
        <div class="container">
                <h2 class="header-how-is-the-admission-page-info">Подготовка к приёму</h2>
                <div class="row">
                    <div class="col-sm">
                        <h3 class="header-how-is-the-admission-info">Первое посещение</h3>
                        <p class="text-how-is-the-admission-info">
                            Если вы впервые записались на приём в нашу клинику, <br>
                            посмотрите в разделе «Контакты», как доехать до медцентра.
                        </p>

                        <h3 class="header-how-is-the-admission-info">Что нужно для приёма ?</h3>
                        <p class="text-how-is-the-admission-info">
                            При первом посещении понадобится паспорт, чтобы заключить договор об оказании платных медицинских услуг. <br>
                                Если имеются на руках анализы и исследования, возьмите их с собой, чтобы показать врачу.
                        </p>

                        <p class="text-how-is-the-admission-info">
                            Желательно не принимать пищу не менее 4 часов до приёма.
                        </p>
                            <button type="submit" class="button"><a href="/zapis-na-priem">Выбрать время</a></button>

                        <h3 class="header-how-is-the-admission-info">Антиковидная профилактика</h3>
                        <p class="text-how-is-the-admission-info">
                            Ношение маски в клинике обязательно. Это требование утверждено правительством Российской Федерации.
                        </p>
                        <h3 class="header-how-is-the-admission-info">ДМС и ОМС</h3>
                        <p class="text-how-is-the-admission-info">
                            Условия для ДМС и ОМС разрабатываются, поэтому услуги оплачиваются лично пациентами. <br>
                            В ближайших планах открыть программы ДМС и ОМС.
                        </p>
                    </div>
                </div>
            </div>
    </div>
</section>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}