<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-sm position-button">
            <h2 class="head-about-doctor">Ионин Валерий Александрович<br> </h2>
            <h2 class="text-about-doctor">Кандидат медицинских наук, врач кардиолог</h2>

            <h2 class="text-about-doctor">
                стаж 11 лет
            </h2>


            <h2 class="head-about-doctor">Область научных интересов</h2>
            <p class="text-about-doctor">
                Имеет опыт ведения пациентов с различной патологией сердечно-сосудистой системы: <br>
                - гипертоническая болезнь; <br>
                - ишемическая болезнь сердца; <br>
                - нарушения ритма; <br>
                - хроническая сердечная недостаточность<br>
                 в том числе в сочетании с сопутствующей патологией легких, почек, эндокринной системы и желудочно-кишечного тракта; <br>
                - владеет современными методиками оценки сердечно-сосудистой системы (ЭКГ, суточное мониторирование ЭКГ и артериального давления, нагрузочные тесты - тредмил, велоэргометрия);

            </p>


            <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
            <p class="text-about-doctor">
                2011 - Интернатура по специальности "Терапия", Санкт-Петербургского государственного медицинского университета имени академика И.П. Павлова.<br>
                2008 -
                Диплом по специальности "Лечебное дело", Санкт-Петербургского государственного медицинского университета имени академика И.П. Павлова
                Ординатура по специальности "Кардиология", Санкт-Петербургского государственного медицинского университета имени академика И.П. Павлова
                Курсы повышения квалификации<br>

                2013 - "Врач функциональной диагностики "Член ассоциаций врачей.<br>
                Член Российского кардиологического общества (РКО) <br>
                Член Европейского общества кардиологов (ESC) <br>
                Член Европейских ассоциаций атеросклероза (EAS), нарушений ритма (EHRA) и эхокардиографии (EACVI) <br>

            </p>


                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Дополнительно
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>  В практической деятельности руководствуется международными рекомендациями, индивидуальным подходом и персонализированной тактикой диагностики и лечения.<br>
               <p>Имеет опыт ведения пациентов с различной патологией сердечно-сосудистой системы: гипертоническая болезнь, ишемическая болезнь сердца, нарушения ритма, хроническая сердечная недостаточность, в том числе в сочетании с сопутствующей патологией легких, почек, эндокринной системы и желудочно-кишечного тракта.<br> </p>

                    </div>
                    </div>

            </div>

            <div class="col-sm">
                <img src="iva.jpg" alt="главный врач" class="img-thumbnail">

                <button type="submit" class="reviews-button"><a href="/zapis-na-priem">Запись на прием</a></button>
            </div>

        </div>
    </div>
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{{>footer}}