<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-sm position-button">
            <h2 class="head-about-doctor">Казаченко Александр Александрович <br> </h2>
            <h2 class="text-about-doctor">Кандидат медицинских наук, врач кардиолог</h2>

            <h2 class="text-about-doctor">
                стаж 19 лет
            </h2>




            <h2 class="head-about-doctor">Область научных интересов</h2>
            <p class="text-about-doctor">
                Лечение: <br>
                - нарушения сна; <br>
                - апноэ во сне; <br>
                - артериальная гипертензия; <br>
                - одышка; <br>
                - отеки; <br>
                - ишемия сердца, ишемическая болезнь сердца; <br>
                - коллапс; <br>
                - потери сознания неясного генеза. <br>

            </p>



            <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
            <p class="text-about-doctor">
                2011 -Интернатура по специальности "Функциональная диагностика", Военно-медицинская Академия имени С. М. Кирова.<br>
                2009 - Интернатура по специальности "Кардиология", Военно-медицинская академия имени С.М. Кирова<br>
                2003 - Интернатура по специальности "Терапия", Военно-медицинская академия им. С.М. Кирова.<br>
                2002 - Диплом по специальности "Лечебное дело", Военно-медицинская академия им. С.М. КироваЧлен ассоциаций врачей. <br>
                Членом Европейского общества кардиологов. <br>
                Член Российского общества кардиологов. <br>
                Член Российского общества сомнологов. <br>

            </p>


                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Дополнительно
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p> Более 5 лет занимается диагностикой и лечением пациентов с апноэ во сне, дневной сонливостью, «бессонницей». Осуществляет подбор различных режимов вентиляции (СРАР, BiPAP) и кислородотерапии у пациентов с апноэ во сне и дыхательной недостаточностью.</p>

                    </div>
                    </div>

            </div>

            <div class="col-sm">
                <img src="kaa.jpg" alt="главный врач" class="img-thumbnail">

                <button type="submit" class="reviews-button"><a href="/zapis-na-priem">Запись на прием</a></button>
            </div>

        </div>
    </div>
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}