<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-sm position-button">
            <h2 class="head-about-doctor">Кулешова Дарья Владимировна<br> </h2>
            <h2 class="text-about-doctor">кардиолог, терапевт</h2>

            <h2 class="text-about-doctor">
                стаж 14 лет
            </h2>


            <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
            <p class="text-about-doctor">
                2017 г. - повышение квалификации «Своевременные принципы оказания паллиативной помощи» (СЗГМУ им. И.И. Мечникова).<br>
                2019 г. - дополнительная профессиональная образовательная программа «Основы экспертизы качества медицинской помощи» (СПбГУ).<br>
                2019 г. - повышение квалификации «Искусственное (парентеральное и энтеральное) питание больных в интенсивной медицине» (ГБУ «Санкт-Петербургский научно-исследовательский институт скорой помощи им. И.И. Джанелидзе»).<br>
                2020 г. - дополнительная профессиональная образовательная программа «Экспертная деятельность в сфере обязательного медицинского страхования» (СПбГУ).<br>
                2020 г. - курс London School of hygiene & tropical medicine «The role of diagnostics in the antimicrobial resistance response».<br>
                2020 г. - Евразийская Федерация Онкологии. IX Базовый курс по онкологии и онкопатологии. IX EAFO Basic Medical Courses.<br>

                Член Российского кардиологического общества.<br>
                Член Европейского общества кардиологов (ESC).<br>

                <p>Основное образование</p>

                Санкт-Петербургский государственный университет, медицинский факультет, специальность — «Лечебное дело».<br>

            </p>


                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Дополнительно
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">

                        <p>Сертификаты по направлениям</p>

                        СПбГУ, медицинский факультет, кафедра госпитальной терапии, интернатура по специальности «Внутренние болезни», специальность «Терапевт». <br>

                        <br> СПбГУ, медицинский факультет, кафедра госпитальной терапии, ординатура по специальности «Кардиология». <br>


                        <br>
                        <p>Владение иностранными языками (с возможностью ведения приема пациентов): английский, испанский, португальский разговорный.</p>
               

                    </div>
                    </div>

            </div>

            <div class="col-sm">
                <img src="kdv.jpg" alt="главный врач" class="img-thumbnail">

                <button type="submit" class="reviews-button"><a href="/zapis-na-priem">Запись на прием</a></button>
            </div>

        </div>
    </div>
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}