<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-sm position-button">
            <h2 class="head-about-doctor">Кушнир Ирина Николаевна<br> </h2>
            <h2 class="text-about-doctor">Кардиолог, ревматолог, высшая квалификационная категория.</h2>

            <h2 class="text-about-doctor">
                стаж 20 лет
            </h2>


            <h2 class="head-about-doctor">Область научных интересов</h2>
            <p class="text-about-doctor">
                Диагностика и лечение пациентов ревматологического профиля, определения показаний и назначение ГИБТ и таргетной терапии ревматологическим пациентам.<br>
                <br>
                Ведение ревматологических пациентов с коморбидной кардиологической патологией.<br>
            </p>


            <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
            <p class="text-about-doctor">
                2001 год -Окончила ГОУВПО «Кемеровская государственную медицинскую академию»  по специальности «лечебное дело».<br>
                <br>
                2001-2003 – клиническая ординатура по специальности «терапия» ГОУВПО «Кемеровская государственную медицинскую академию». <br>
                <br>
                2003 год – профессиональная переподготовка по кардиологии. ГИДУВ, г. Новокузнецк. <br>
                <br>
                2008 год – повышение квалификации по кардиологии. ГОУ ВПО КемГМА. <br>
                <br>
                2018 год – повышение квалификации по кардиологии. ФГБОУ ВО КемГМУ. <br>
                <br>
                2008 год – профессиональная переподготовка по ревматологии. Государственное образовательное учреждение дополнительного профессионального образования «Санкт-Петербургская медицинская академия последипломного образования федерального агентства по здравоохранению и социальному развитию. <br>
                <br>
                2013 год – повышение квалификации по ревматологии. ФГБУ «НИИР им. Академика В.А. Носоновой» РАМН. Г. Москва. <br>
                <br>
                2013 год – повышение квалификации по ревматологии. «Применение терапии генно-инженерных биологических препаратов в ревматологии» (тематическое усовершенствование). ФГБУ «НИИР им. Академика В.А. Носоновой» РАМН. Г. Москва. <br>
                <br>
                2018 год – повышение квалификации по ревматологии. ФГБО УВО «Новосибирский государственный медицинский университет» МЗ РФ. <br>
                <br>
                Ирина Николаевна является соавтором научных трудов, результаты которых были доложены на Европейском конгрессе ревматологов (EULAR) в 2020 году. <br>
                <br>
                С 2018 года Ирина Николаевна принимала участие более чем в десяти региональных и российских конференция с международным участием в качестве докладчика. <br>
            </p>


                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Дополнительно
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>Награды<br>
                        <br>Ирина Николаевна награждена почетной грамотой Министерства здравоохранения Российской Федерации за многолетний добросовестный труд, а также почетной грамотой «ГАУЗ КОКБ» им С.В.Беляева – благодарность за огромный вклад в развитие медицины в регионе. <br>
                        <br> С 2014 года Ирина Николаевна является врачом-исследователем, а также главным исследователем более 20 ти многоцентровых международных клинических исследований. <br>

                        <p>Достижения</p>
                        <br>Имеет 11 статей в журналах, лицензируемых ВАК. <br>
                        <br>Ирина Николаевна имеет 12 постерных докладов представленных на Европейских конгрессах ревматологов.  Ирина Николаевна является соавтором научных трудов, результаты которых были доложены на Европейском конгрессе ревматологов (EULAR) в 2020 году, а также одним из кураторов Российского национального регистра. <br>
                        <br> С 2018 года Ирина Николаевна принимала участие более чем в десяти региональных и российских конференция с международным участием в качестве докладчика. <br> 
                        <br> С 2014 года Ирина Николаевна является врачом-исследователем, а также главным исследователем более 20 ти многоцентровых международных клинических исследований.
                    </div>
                    </div>

            </div>

            <div class="col-sm">
                <img src="kin.jpg" alt="главный врач" class="img-thumbnail">

                <button type="submit" class="reviews-button"><a href="/zapis-na-priem">Запись на прием</a></button>
            </div>

        </div>
    </div>
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}