
<section class="section">
    <div class="content">
         <div class="container">
                <div class="row">

                    <div class="col-sm position-button">

                    <h2 class="head-about-doctor">Помешкина Светлана Александровна <br></h2>
                    <h2 class="text-about-doctor">Доктор медицинских наук, врач-кардиолог </h2>


                    <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
                    <p class="text-about-doctor">
                        1997 год – Кемеровская Государственная Медицинская Академия Лечебный факультет, «Врач-лечебник», специальность: «Лечебное дело».<br>
                        1997-2000 гг – Кемеровская Государственная Медицинская Академия <br>
                                        -  1.	Клиническая ординатура по специальности терапия. <br>
                                        - 2. Сертификационный цикл по кардиологии. <br>

                        2000 - 2003 г – Кемеровская Государственная Медицинская Академия Очная аспирантура по кардиологии.<br>
                        2004 год – Алтайский медицинский университет Защитила кандидатскую диссертацию «Влияние ранней физической реабилитации у больных с постинфарктной систолической дисфункцией миокарда на проаритмические факторы».<br>
                        2016 год - ГБОУ ВПО «Красноярский государственный медицинский университет имени профессора В.Ф. Войно-Ясенецкого» Министерства здравоохранения Российской Федерации Защитила докторскую диссертацию «Научное обоснование совершенствования подходов к реабилитации после коронарного шунтирования». <br>

                    </p>

                            <p>
                            <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                                Дополнительно
                            </button>
                            </p>
                            <div class="collapse" id="collapseExample4">
                            <div class="card card-body">
                                <h2 class="head-about-doctor">Профессиональная деятельность</h2>
                                <p>2021 по настоящее время Федеральное государственное бюджетное научное учреждение "Научно-исследовательский институт комплексных проблем сердечно-сосудистых заболеваний" Заведующая кабинетом реабилитации.</p>
                                <p>2014 по настоящее время  Федеральное государственное бюджетное научное учреждение "Научно-исследовательский институт комплексных проблем сердечно-сосудистых заболеваний" Руководитель службы реабилитации НИИ КПССЗ.</p>
                                <p>2009 по настоящее время Федеральное государственное бюджетное научное учреждение "Научно-исследовательский институт комплексных проблем сердечно-сосудистых заболеваний "Заведующая лабораторией реабилитации отдела клинической кардиологии. </p>
                                <p>2009 - 2016 гг   Государственное бюджетное учреждение здравоохранения Кемеровской области «Кемеровский областной клинический кардиологический диспансер имени академика Л.С. Барбараша» Отделение неотложной кардиологии.Врач-кардиолог.</p>
                                <p>2001 — 2009 гг  Кемеровский кардиологический диспансер Отделение реабилитации Врач-кардиолог.</p>

                            </div>
                            </div>

                    </div>

                    <div class="col-sm">
                        <img src="psa.jpg" alt="главный врач" class="img-thumbnail">

                        <button type="submit" class="reviews-button"><a href="/zapis-na-priem">Запись на прием</a></button>
                    </div>

                </div>
        </div>
    </div>

</section>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->



{{>footer}}