

<section class="section-pulmonologist-info">
    <div class="content">
        <div class="container">
            <h2 class="header-pulmonologist-page-info">Приём пульмонолога</h2>
            <div class="row">
                <div class="col-sm">
                    <p class="text-pulmonologist-info">
                        Более 300 млн. пациентов во всем мире имеют респираторные симптомы (кашель, одышка, хрипы в грудной клетке).
                        Большинство пациентов хорошо отвечает на традиционную терапию, достигая контроля заболевания.
                    </p>
                    <p class="text-pulmonologist-info">
                        Однако часть больных имеет трудные для лечения факторы (генетические, ожирение, курение,
                        с поздним началом заболевание) и может быть рефрактерна к традиционной терапии.
                        У них отмечается высокая частота обострений и обращений за неотложной медицинской помощью.
                        Поэтому всегда лучше заранее обратиться к врачу и быть уверенным в эффективности лечения.
                    </p>

                    <h3 class="header-pulmonologist-page-info">При каких симптомах и состояниях рекомендовано обратиться к пульмонологу?</h3>
                        <ul class="text-pulmonologist-info">
                            <li>
                                Кашель, ком в горле, чихание.
                            </li>
                            <li>
                                Заложенность носа и боли в грудной клетке.
                            </li>
                            <li>
                                Одышка или нехватка воздуха в покое или при ходьбе.
                            </li>
                            <li>
                                Хрипы и свисты в грудной клетке.
                            </li>
                            <li>
                                Утомляемость от физических нагрузок.
                            </li>
                        </ul>
                            <button type="submit" class="button"><a href="/zapis-na-priem">Выбрать врача</a></button>
                         
                    <h3 class="header-pulmonologist-page-info">В медицинском центре Нормокард с готовностью помогут пациентам с уже установленными заболеваниями, такими как:</h3>
                        <ul class="text-pulmonologist-info">
                            <li>
                                Бронхит и бронхиальная астма.
                            </li>
                            <li>
                                Хроническая обструктивная болезнь лёгких (ХОБЛ).
                            </li>
                            <li>
                                Интерстициальные заболевания лёгких и эмфизема лёгких.
                            </li>
                            <li>
                                Плеврит и храп.
                            </li>
                        </ul>
                        <span class="text-pulmonologist-info">А также:</span>
                        <ul class="text-pulmonologist-info">
                            <li>
                                После коронавирусной инфекции.
                            </li>
                            <li>
                                С частыми респираторными заболеваниями.
                            </li>
                            <li>
                                С аллергическими 	реакциями.
                            </li>
                        </ul>
                    <h3 class="header-pulmonologist-page-info">Как проходит приём пульмонолога:</h3>
                        <ul class="text-pulmonologist-info">
                            <li>
                                Сбор жалоб и анамнеза пациента. Интерпретация предоставленных медицинских обследований и анализов. Объективный осмотр пациента. Оценка формы грудной клетки.
                            </li>
                            <li>
                                Прослушивание фазы вдоха и выдоха, проведение 	функциональных проб (с физической 	нагрузкой, при смене 	положения тела).
                            </li>
                            <li>
                                Изучение насыщения кислорода, характеристик пульса, измерения артериального давления.
                            </li>
                            <li>
                                Установка предварительного либо окончательного 	диагноза, формирования дальнейшего плана обследования, лечения и 	телемедицинского наблюдения.
                            </li>
                            <li>
                                Информирование пациента о состоянии здоровья, диагнозе, 	необходимости выполнения диагностических процедур. Обсуждение лечения, его эффектов и возможных нежелательных реакций терапии.
                            </li>
                        </ul>
                            <button type="submit" class="button"><a href="/zapis-na-priem">Выбрать время</a></button>

                </div>
            </div>
        </div>
    </div>
        
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}