<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-sm position-button">
            <h2 class="head-about-doctor">Рыженкова Светлана Николаевна<br> </h2>
            <h2 class="text-about-doctor">Врач - функциональной диагностики</h2>

            <h2 class="text-about-doctor">
                стаж 9 лет
            </h2>


            <h2 class="head-about-doctor">Область научных интересов</h2>
            <p class="text-about-doctor">
               Суточное мониторирование ЭКГ у пациентов со сложными нарушениями ритма сердца

            </p>


            <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
            <p class="text-about-doctor">
                В 2012 году окончила ГОУВПО «Кемеровская государственную медицинскую академию»  по специальности «лечебное дело».<br>
                <br>
                2012 -2014 год, ординатура по специальности  - функциональная диагностика, ГОУВПО «Кемеровская государственная медицинская академия». <br>
                <br>
                2019 год – повышение квалификации по функциональной диагностике

            </p>


                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Дополнительно
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>Навыки<br>
                        - ЭКГ <br>
                        - Суточное/многосуточное мониторирование ЭКГ <br>
                        - Суточное мониторирование АД <br>
                        - ФВД <br>
                        - Велоэргометрия <br>
                        - Спировелоэргометрия <br>

                        <p>Достижения</p>
                        Имеет 5 статей в журналах, аккредитованных ВАК, 9 тезисов на российских конференциях. <br>
                        <br>
                        Апробация кандидатской диссертации на тему: «Структурные и биохимические маркеры  фиброзирования миокарда в оценке прогноза больных инфарктом миокарда с подъемом сегмента ST» прошла осенью 2021 год. <br>
                        <br>
                        Защита кандидатской диссертации на соискание ученой степени запланирована на 2022 год

                    </div>
                    </div>

            </div>

            <div class="col-sm">
                <img src="rsv.jpg" alt="главный врач" class="img-thumbnail">

                {{!-- <button type="submit" class="reviews-button"><a href="/zapis-na-priem">Запись на прием</a></button> --}}
            </div>

        </div>
    </div>
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}