<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-sm position-button">
            <h2 class="head-about-doctor">Шофорусь Татьяна Владимировна <br> </h2>
            <h2 class="text-about-doctor">Кардиолог, ревмотолог</h2>

            <h2 class="text-about-doctor">
                стаж 21 год
            </h2>

            


            <h2 class="head-about-doctor">Специализируется на диагностике и лечении:</h2>
            <p class="text-about-doctor">
                - системных заболеваний соединительной ткани (системная красная волчанка, системная склеродермия, дерматомиозиты, полимозиты); <br>
                - васкулитов;<br>
                - инфекционных артритов, реактивных артритов, ревматоидного артрита;<br>
                - ревматической патологии в сочетании с метаболическими, эндокринными и гематологическими заболеваниями;<br>
                - патологий костно-мышечной системы, суставов, артрозы, острый суставной синдром, болевой синдром, дегенеративные заболеваний позвоночника;<br>
                - внесуставных и регионарных нарушения костно-мышечной системы ( в том числе периартриты, тендиниты, тендовагиниты);<br>
                - смешанной ревматической патологии;<br>
                - наследственных и врожденных нарушений метаболизма в сочетании с ревматическими синдромами.<br>


            </p>



2009
"Ревматология", Кемеровский государственный медицинский университет
Специализация
Диагностика и лечение заболеваний:
пороки сердца (приобретенные и врожденные);
стенокардия;
аритмии;
кардиомиопатия;
тромбоз коронарной артерии;
инфаркт миокарда;
заболевания артерий (атеросклероз, артериит);
аневризмы аорты;
кардит;
тромбозы и тромбофлебиты.

            <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
            <p class="text-about-doctor">
                2015 -"Кардиология", Кемеровский государственный медицинский университет.<br>
                2009 - 
                "Ревматология", Кемеровский государственный медицинский университет
                Специализация
                Диагностика и лечение заболеваний:
                пороки сердца (приобретенные и врожденные);
                стенокардия;
                аритмии;
                кардиомиопатия;
                тромбоз коронарной артерии;
                инфаркт миокарда;
                заболевания артерий (атеросклероз, артериит);
                аневризмы аорты;
                кардит;
                тромбозы и тромбофлебиты.<br>
            </p>


                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Дополнительно
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>Выявляет, оценивает и устраняет факторы риска патологий сердечно-сосудистой системы. Дает рекомендации по коррекции образа жизни пациента. В качестве врача-ревматолога занимается амбулаторным приемом пациентов ревматологического профиля (артрология и системные ревматические заболевания), а также диагностикой и лечением ревматологических заболеваний согласно современным стандартам.</p>

                    </div>
                    </div>

            </div>

            <div class="col-sm">
                <img src="htv.jpg" alt="главный врач" class="img-thumbnail">

                <button type="submit" class="reviews-button"><a href="/zapis-na-priem">Запись на прием</a></button>
            </div>

        </div>
    </div>
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}