<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-sm position-button">
            <h2 class="head-about-doctor">Ситников Дмитрий Владимирович<br> </h2>
            <h2 class="text-about-doctor">Пульмонолог, кардиолог, терапевт</h2>

            

            <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
            <p class="text-about-doctor">
                В 2006г. окончил Кемеровскую Государственную Медицинскую Академию по специальности "Лечебное дело" с отличием.<br>
                С 2006-2008г. обучение в ординатуре по специальности "Общая врачебная практика (Семейная медицина).<br>
                С 2008г. работаю врачом-кардиологом в Областной клинической Больнице.<br>
                В 2009г. прошел профессиональную переподготовку по специальности "Кардиология".<br>
                В 2013, 2018г. прошел повышение квалификации по специальности "Кардиология".<br>
            </p>


                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Дополнительно
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p> Участвовал в неинтервенционных пострегистрационных исследованиях. Награжден почетной грамотой ДОЗН, Юбилейной медалью в честь 70-летия Кемеровской Области.</p>

                    </div>
                    </div>

            </div>

            <div class="col-sm">
                <img src="sdv.jpg" alt="главный врач" class="img-thumbnail">

                <button type="submit" class="reviews-button"><a href="/zapis-na-priem">Запись на прием</a></button>
            </div>

        </div>
    </div>
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{{>footer}}