{{>preloader}}
<section class="section">
    <div class="container">
        <div class="row">


            <div class="col-sm position-button">

            <h2 class="head-about-doctor">Солобуева Анна Андреевна <br> главный врач медицинского центра Normocard</h2>

            <h2 class="head-about-doctor">Сведение о ВУЗе</h2>
            <p class="text-about-doctor">
                2011 год – окончила ФГБОУ ВО КемГМУ Минздрава РФ Лечебное дело. <br>
                2011-2013 - Ординатура по специальности "Организация здравоохранения и общественное здоровье"

            </p>

            <h2 class="head-about-doctor">Профессиональная переподготовка</h2>

            <p class="text-about-doctor">
                С 2021 года – обучается в магистратуре по направлению «Экономика, учет и анализ»
            </p>


                <p>
                <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                    Профессиональная деятельность
                </button>
                </p>
                <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                    <p>2013-2020 год. Преподаватель КемГМУ. Ассистент кафедры общественного здоровья, здравоохранения и медицинской информатики.</p><br>

                    <p> С 2021 года по настоящее время – исполнительный директор компании производителя медицинского оборудования ООО «КИТ-сервис» . Компания специализируется на производстве комплексов многосуточного мониторирования ЭКГ с облачным решением ПО и успешно себя зарекомендовала на рынке медицинского производства РФ. Клиентами компании являются медицинские организации, образовательные медицинские учреждения и НИИ страны.</p>
                </div>
                </div>
            </div>

            <div class="col-sm">
                <img src="glav-vrach.jpg" alt="главный врач" class="img-thumbnail">

            </div>

        </div>
    </div>
</section>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}