<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-sm position-button">
            <h2 class="head-about-doctor">Свинцова Елена Владимировна<br> </h2>
            <h2 class="text-about-doctor">Врач - функциональной диагностики</h2>

            <h2 class="text-about-doctor">
                стаж  6 лет
            </h2>


            <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
            <p class="text-about-doctor">
                2013 год -Кемеровская государственная медицинская академия. Факультет педиатрический.<br>
            </p>


                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Дополнительно
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>Навыки</p>
                        Владеет методиками  ЭКГ, холтер ЭКГ и АД, ФВД, велоэргометрия, уверенный пользователь ПК. <br>
                        <br>
                        <p>Достижения</p>
                        Имеет удостоверение о прохождении обучения по управлению структурным подразделением. <br>
                    </div>
                    </div>

            </div>

            <div class="col-sm">
                <img src="sev.jpg" alt="главный врач" class="img-thumbnail">

                {{!-- <button type="submit" class="reviews-button"><a href="/zapis-na-priem">Запись на прием</a></button> --}}
            </div>

        </div>
    </div>
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}