<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-sm position-button">
            <h2 class="head-about-doctor">Васильева Вера Владимировна<br> </h2>
            <h2 class="text-about-doctor">Врач-кардиолог</h2>

            <h2 class="text-about-doctor">
                стаж 23 года
            </h2>


            <h2 class="head-about-doctor">Специализируется на диагностике и лечении</h2>
            <p class="text-about-doctor">
                С 2009 г. возглавляла отделение кардиологии, которое с 2011 г. специализировалось на лечении пациентов с ОКС. <br>
                <br>
                Вела большую организационно-методическую работу и оказывала практическую помощь, консультируя больных во всех отделениях многопрофильной больницы, а теперь пациентов онкологического профиля (отделения хирургического и химиотерапевтического профиля) на базе Государственного бюджетного учреждения здравоохранения «Кузбасский клинический онкологический диспансер». <br>

            </p>


            <h2 class="head-about-doctor">Профессиональная переподготовка</h2>
            <p class="text-about-doctor">
                Окончила Кемеровскую Государственную Медицинскую Академию в 1998 году. С 1998 по 1999 г. прошла обучение в клинической интернатуре по специальности «терапия» на базе Кемеровской Государственной Медицинской Академии. <br>
                <br>
                После окончания интернатуры проработала врачом-кардиологом в ГКБ № 11 г. Кемерово 1999 г. по.2020 г. <br>

                <br>
                С 2009 г. по 2020 г. работала заведующей отделением кардиологии. С 2020 г. работает врачом-кардиологом в ГБУЗ ККОД. <br>

                <br>
                2002 г. прошла профессиональную переподготовку по специальности «Кардиология» на базе Государственного бюджетного образовательного учреждения высшего профессионального образования «Кемеровская государственная медицинская академия» Министерства Здравоохранения Российской Федерации. <br>

                <br>
                2007 г. прошла профессиональную переподготовку на базе Кемеровской Государственной Медицинской Академии Росздрава по специальности «Кардиология» в объёме 504 ч. <br>

                <br>
                2011 г. прошла обучение на базе ГБОУ ВПО КемГМА Минздравсоцразвития России по кардиологии. В 2011 г. прошла повышение квалификации в НИИ кардиологии им. А.Л. Мясникова ФГУ РКНПК Минздравосоцразвития России. <br>

                <br>
                2016 г. – профессиональное повышение квалификации на базе ФГБОУ ВО КемГМУ Минздрава Росии по специальности «Кардиология». В 2019 г. повышение квалификации на базе ФГБОУ «КемГМУ» по специальности «Кардиология». <br>

                <br>
                2020 г. прошла повышение квалификации на базе «ФГББНУ Научно-исследовательский институт комплексных проблем серденчно-сосудистых заболеваний» по дополнительной профессиональной программе «Оценка и коррекция риска кардиальных осложнений при некардиальных операциях». <br>

                <br>
                2021 г. прошла обучение по специальности «Кардиология» по теме «Аспекты общения с родственниками больного». За период работы освоила в полном объеме современные методы диагностики, лечения, профилактики сердечно-сосудистых заболеваний.

            </p>


                    <p>
                    <button class="btn button-about" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Дополнительно
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>Постоянно повышает свой профессиональный уровень, участвует в тематических конференциях. Дважды отмечена грамотой за добросовестный труд, внесла большой личный вклад в оказании медицинской помощи населению области. Имеет награду «Знак почёта». Имеет высшую квалификационную категорию по специальности «Кардиология» с 2016 г.<br>
               
                    </div>
                    </div>

            </div>

            <div class="col-sm">
                <img src="vvv.jpg" alt="главный врач" class="img-thumbnail">

                <button type="submit" class="reviews-button"><a href="/zapis-na-priem">Запись на прием</a></button>
            </div>

        </div>
    </div>
</section>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87596857, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87596857" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CT0GHJFTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CT0GHJFTF');
</script>
{{>footer}}